/* Corps du site */
.body_shop_accueil{
  font-family: 'Lato', sans-serif;
  background-color: #ffffff; 
  color: #333333; 
  margin: 0;
  padding: 0;
  line-height: 1.6;
  padding-top: 80px; /* Ajuste en fonction de la hauteur du header */
  overflow-x: hidden; /* Empêche tout dépassement horizontal */
}

/* Header */
.header_shop {
  background-color: #ffffff; 
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);position: fixed; /* Fixe la barre nav en haut */
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 10; /* pour que la barre reste au-dessus de tt */
  
  box-sizing: border-box; /* Inclus les paddings dans le calcul de la largeur */
}
.header_shop .logo img {
  max-width: 40%; 
  height: auto; /* garder les proportions peu importe les ecrans*/
  display: block; 
}

.header_shop .logo {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: bold;
  color: #333333; 
  margin-right: 20px; /* Espacement ac la bar nav*/
}

.header_shop nav {
  flex-grow: 1; /* def l'espace de la barNav entre logo et icones a droite */
  display: flex;
  justify-content: flex-start; /* liens a gauche 2 la bar nav */
  gap: 15px;
}

.header_shop nav a {
  text-decoration: none;
  color: #333333; 
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.header_shop nav a:hover {
  color:#a75e27; /* Marron clair pour l'accent */
}

.header_shop .right-section {
  display: flex;
  align-items: center;
  gap: 15px; /* Espace entre les élmts */
  flex-direction: row-reverse; /* Inverse l'ordre des elmts */
  
}

.header_shop .right-section .chic-and-chill {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: bold;
  color: #333333; 
  white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
}

.header_shop .right-section .icons_shop_nav_bar {
  display: flex;
  gap: 10px; /* Espacement entre icônes */
}

.header_shop .right-section .icons_shop_nav_bar a {
  text-decoration: none;
  color: #333333; 
  font-size: 18px;
  transition: color 0.3s ease;
}

.header_shop .right-section .icons_shop_nav_bar a:hover {
  color: #A67B5B; /* Marron clair pour l'accent */
}


/* Section Bannière */
.container_banniere_accueil_shop {
  background-image: url("../../assets/images/pexels-yankrukov-7314246.jpg"); /* Chemin vers  image page accueil du shop */
  background-size: cover; /* Ajuste l'image pour couvrir toute la zone */
  background-position: center -20%; /* Centre l'image */
  background-repeat: no-repeat; /* pas de repet 2 l'img */
  background-attachment: fixed; /* Image reste fixe qd scroll */
  height: 100vh; /* bannière prend 100% de la hauteur 2 la fenêtre */
  display: flex; /* Pr centrer contenu */
  flex-direction: column;
  justify-content: center; /* Centre verticalement*/
  align-items: center; /* Centre horizontalement le contenu */
  text-align: center; 
  color: #333333; 
}

.container_banniere_accueil_shop .content {
  background-color: rgba(255, 255, 255, 0.8); /* Fond blanc translucide */
  padding: 20px 40px; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}




.container_banniere_accueil_shop h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #333333; 
}

.container_banniere_accueil_shop p {
  font-size: 18px;
  color: #666666; 
  margin-bottom: 20px;
}

.container_banniere_accueil_shop a {
  text-decoration: none;
  color: #333333; 
  font-weight: bold;
  font-size: 16px;
  margin: 0 10px;
  border: 2px solid #A8C3A5; /* Bordure vert doux */
  padding: 10px 20px;
  border-radius: 30px; /* Boutons arrondis */
  background-color: #A8C3A5; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container_banniere_accueil_shop a:hover {
  background-color: #8CA58A; 
  color: #ffffff;
}



/* Styles pour le dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none; /* Caché par défaut */
  position: absolute;
  background-color: #ffffff; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  padding: 10px 0;
  z-index: 1;
  min-width: 200px; 
}

.dropdown-content a {
  color: #333333; 
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #A8C3A5; 
  color: #ffffff; /* Texte blanc hover */
}

.dropdown:hover .dropdown-content {
  display: block; /* Affiche menuac hover */
}
