/* Grille des produits */

.body_shop_produits{

    background-color: #f1f1ea; 
    padding-top: 3rem; /* Ajustez en fonction de la hauteur de votre header */
    
    
}
.product-grid {
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); /* Colonnes adaptatives */
    gap: 1.25rem; /* Espacement entre les cartes */
    padding: 2.5rem; /* Espacement autour */
}

/* Carte produit */
.product-card {
    background-color: #ffffff; 
    border: 0.0625rem solid #eeeeee; 
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); 
    border-radius: 1rem;
    overflow: hidden; /* Évite que les éléments débordent */
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; /* hauteur des cartes*/
}

.product-card:hover {
    transform: translateY(-0.3125rem); /* Légère élévation au survol */
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2); /* Ombre accentuée */
}

/* Image produit */
.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 0.125rem solid #a75e27; 
    flex-shrink: 0; /* Empêche l'image de se réduire */
}

/* Infos produit */
.product-info {
    padding: 1rem; /* Espacement interne */
}

.product-info h3 {
    font-family: 'Lato', serif;
    font-size: 1.125rem; /* Taille du titre */
    color: #333333; 
    margin-bottom: 0.625rem;
}

.product-info p {
    font-size: 0.875rem; /* Taille de la description */
    color: #666666; 
    margin-bottom: 0.9375rem;
}

.product-price {
    font-size: 1rem; /* Taille du prix */
    font-weight: bold;
    color: #a75e27;
}

/* Bouton (si nécessaire pour "voir plus") */
.product-info a {
    display: inline-block;
    margin-top: 0.625rem;
    padding: 0.5rem 1rem;
    background-color: #A8C3A5; /* Vert doux */
    color: #ffffff; /* Blanc pur */
    text-decoration: none;
    border-radius: 1.25rem; /* Coins arrondis */
    font-size: 0.875rem; /* Taille du texte */
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.product-info a:hover {
    background-color: #8CA58A; /* Vert légèrement plus foncé */
}


/* css pour les btn sous categories */
.subcategories-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.subcategory-btn {
    text-decoration: none;
    padding: 8px 15px;
    color: yellow;
    background: rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 5px;
    transition: 0.3s ease;
}

.subcategory-btn:hover {
    background: rgba(0, 0, 0, 0.2);
}
