

/* Style de base pour la page accueil */

@import url('header_shop.css');
@import url('footer_shop.css');
@import url('produits_shop.css');
@import url('accueil_shop.css');
@import url('produit_detail_shop.css');
@import url('conditions_generales_vente_shop.css');





html {
  scroll-behavior: smooth;
}


/* media query pour la partie shop car je mets la taille des elements en rem pas px, n'affecte pas votre site, j'ai mis une classe sur mes balises html */

.html_shop {
  font-size: 16px; /* Taille de base pour calculer 1rem = 16px */
}

@media (max-width: 768px) {
  .html_shop {
      font-size: 14px; /* Réduit la taille de base pour les petits écrans */
  }
}

@media (max-width: 480px) {
  .html_shop {
      font-size: 12px; /* Encore plus petit pour les écrans très étroits */
  }
}
